.passwordInputBlock {
	position: relative;
}

.passwordInputToggleButton {
	position: absolute;
	border: none;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	padding: 0;
}
