*, *::before, *::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

a {
	text-decoration: none;
}
